{#
  Title: Banner
  Description: Banner block
  Category: calsmoving-blocks
  Icon: money
  Keywords: banner
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

{% if fields.banner_version == 'ver1' %}
<section
	class="calsmoving-main-banner lg:h-[821px] w-full flex flex-col {{ block.className }} overflow-hidden"
	{# Background settings #} {% if fields.banner.background %}
	style="background-image: url('{{fields.banner.background}}'); background-size: cover; background-position: {{fields.banner.background_position}}; background-repeat: no-repeat;"
	{% else %} style="background-color:{{fields.banner.color}};" {% endif %}>
	{% if fields.options.overlay %}
	{% if fields.options.overlay_color %}
	<div class="overlay"
		style="background-color:{{fields.options.overlay_color}}; opacity:{{fields.options.overlay_opacity}}; background-blend-mode: multiply;">
	</div>
	{% endif %}
	{% if fields.options.overlay_gradient %}
	<div class="overlay"
		style="background:linear-gradient({{ fields.options.gradient_degree }}deg, {{ fields.options.color_1 }}, {{ fields.options.color_2 }}); opacity:{{fields.options.overlay_opacity}}; background-blend-mode: multiply;">
	</div>
	{% endif %}
	{% endif %}
	<div class="absolute z-10 w-full h-full">
		<video playsinline="" autoplay="" loop="" muted="" style="height: 100%; width: 100%;  object-fit: cover;" >
			<source src="/wp-content/uploads/2023/11/CalsMovie3-1.mp4" type="video/mp4">
		</video>
    </div>
	<article
		class="calsmoving-banner-content md:section-spacing  container mx-auto flex justify-center items-start px-1 relative z-20 text-white mt-24 {% if fields.banner.text_color %}text-light{% else %}text-dark{% endif %} text-center">
		<div class="w-full text-center">
			{% if fields.banner.tagline %}
			<h5 class="text-2xl font-light uppercase mb-2">{{fields.banner.tagline}}</h5>
			{% endif %}
			{# Main title #}
			{% if fields.banner.title %}
			<h1 class="xl:w-10/12 text-3xl lg:text-6xl font-header mx-auto">
				{{fields.banner.title }}</h1>
			{% endif %}
			{# Subtitle #}
			{% if fields.banner.description %}
			<p class="text-3xl lg:text-6xl font-header mb-8 text-primary mx-auto">{{fields.banner.description}}</p>
			{% endif %}
		</div>
		{# Button wrap #}
		{% if fields.banner.button %}
		<div class="flex flex-col lg:flex-row flex-wrap">
			{% for button in fields.banner.button %}
			<a href="{{button.btn_link}}"
				class="btn {{ button.button_style}} text-center md:text-left font-normal mb-6 {% if not loop.last %}lg:mr-4{% endif %} {% if button.ghost_version %}_light{% endif %}"
				data-aos="fade-up" data-aos-offset="150" data-aos-delay="{{loop.index}}50"
				data-aos-duration="2*{{loop.index}}50" data-aos-once="true">
				<span class="flex flex-row items-center">
					<img class='injectable w-5 h-5 mr-2 fill-inherit' src="{{button.icon.url}}"
						title="{{ button.icon.title }}" />
					{{ button.btn_label }}
				</span>
			</a>
			{% endfor %}
		</div>
		{% endif %}
		{# Form #}
		{% if fields.banner.form  %}
		<form
			class="baner-form{% if fields.banner.form_style == 'ghost' %}-ghost{% elseif fields.banner.form_style == 'underline'%}-underline{% endif %} md:w-8/12 lg:w-6/12 mt-2">
			{{fn('do_shortcode', fields.banner.form|striptags)}}
		</form>
		{% endif %}
	</article>
	<div class="w-full opacity-90 bg-secondary h-full lg:h-[396px] relative z-20 mt-[50px] lg:p-16">
		<div class="container flex flex-col lg:flex-row mx-auto">
			<div class="lg:w-4/12">
				<h2 class="text-6xl text-primary font-header">Get A Free Quote</h2>
				<p class="text-white">Lorem ipsum dolor sit eiusmod, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
			</div>
			<div class="lg:w-8/12 lg:pl-12">
				{{fn('do_shortcode', '[fluentform id="10"]' )}}
			</div>
		<div>
	</div>
</section>
{% endif %}
{# –––––––––––––––– BANNER VERSION 1 END –––––––––––––––– #}

{% if fields.banner_version == 'ver2' %}
<section
	class="calsmoving-main-banner section-spacing h-full {% if fn('is_front_page') %}md:h-700 lg:h-900{% else %}md:h-550 lg:h-550{% endif %} w-full flex flex-col items-center px-10 {{ block.className }}"
	{# Background settings #} {% if fields.banner.background %}
	style="background-image: url('{{fields.banner.background}}'); background-size: cover; background-position: {{fields.banner.background_position}}; background-repeat: no-repeat;"
	{% else %} style="background-color:{{fields.banner.color}};" {% endif %}>
	{% if fields.options.overlay %}
	{% if fields.options.overlay_color %}
	<div class="overlay"
		style="background-color:{{fields.options.overlay_color}}; opacity:{{fields.options.overlay_opacity}}; background-blend-mode: multiply;">
	</div>
	{% endif %}
	{% if fields.options.overlay_gradient %}
	<div class="overlay"
		style="background:linear-gradient({{ fields.options.gradient_degree }}deg, {{ fields.options.color_1 }}, {{ fields.options.color_2 }}); opacity:{{fields.options.overlay_opacity}}; background-blend-mode: multiply;">
	</div>
	{% endif %}
	{% endif %}
	<article
		class="calsmoving-banner-content md:section-spacing container mx-auto w-full h-full flex flex-collg:flex-row justify-center items-center px-1 relative z-5 {% if fields.banner.text_color %}text-light{% else %}text-dark{% endif %} md:mt-auto text-left">
		<div class="w-full lg:w-6/12">
			{% if fields.banner.title or fields.banner.description %}{% endif %}
			<div class="text-center md:text-left">
				{% if fields.banner.tagline %}
				<h5 class="text-2xl font-light uppercase mb-2">{{fields.banner.tagline}}</h5>
				{% endif %}
				{# Main title #}
				{% if fields.banner.title %}
				<h1 class="xl:w-10/12 text-6xl font-header font-normal mb-6">
					{{fields.banner.title }}</h1>
				{% endif %}
				{# Subtitle #}
				{% if fields.banner.description %}
				<h2 class="text-xl leading-none font-normal mb-8">{{fields.banner.description}}</h2>
				{% endif %}
			</div>
			{# Button wrap #}
			{% if fields.banner.button %}
			<div class="flex flex-col">
				{% for button in fields.banner.button %}
				<a href="{{button.btn_link}}"
					class="btn {{ button.button_style}} text-center md:text-left font-normal mb-6 {% if button.ghost_version %}_light{% endif %}">
					<span class="flex flex-row items-center">
						<img class='injectable w-5 h-5 mr-2 fill-inherit' title="{{ button.icon.title }}"
							alt="{{ button.icon.alt }}" src="{{button.icon.url}}">
						{{ button.btn_label }}
					</span>
				</a>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		{# Form #}
		{% if fields.banner.form  %}
		<form
			class="w-full lg:w-6/12 baner-form{% if fields.banner.form_style == 'ghost' %}-ghost{% elseif fields.banner.form_style == 'underline'%}-underline{% endif %} md:w-8/12 lg:w-6/12 mt-2">
			<div class="max-w-[400px] lg:ml-auto">{{fn('do_shortcode', fields.banner.form|striptags)}}</div>
		</form>
		{% endif %}
	</article>
</section>
{% endif %}
{# –––––––––––––––– BANNER VERSION 2 END –––––––––––––––– #}
