{#
  Title: Banner
  Description: Banner block
  Category: firstclass-blocks
  Icon: money
  Keywords: banner
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

{% if fields.banner_version == 'ver1' %}
<section class="bg-custom firstmate-bg  inner-pages v2 h-full w-full flex flex-col items-center lg:px-10 pb-[32px] md:pb-[70px]" {{ block.className }} {# Background settings#}>
	<article class="md:section-spacing container mx-auto w-full h-full gap-[20px] flex flex-col lg:flex-row items-start justify-between relative z-5 md:mt-auto mb-[10px] md:mb-[90px] !pt-[40px] md:!pt-[80px] lg:!pt-[170px] ">
		<div class="banner-content-block w-full lg:w-[585px] pt-[35px]">
			{% if fields.banner.title or fields.banner.description %}{% endif %}

			{# Main title #}
			{% if fields.banner.title %}
				<h1 class="leading-none text-center font-bold text-[32px] md:text-left md:text-[65px] text-[#333333]">
					Service Area Page</h1>
			{% endif %}

			{# Subtitle #}
			{% if fields.banner.sub_title %}
				<p class="font-body text-[16px] mb-4 mt-4 text-[#4E4D4D] text-center lg:text-left">As an award winning moving company, we recognize that learning the art of residential and commercial moving, like any craft, takes professional training, attention to detail, and a passion for excellence</p>
			{% endif %}
			<div class="flex flex-col gap-[8px]">

			 {% for box in fields.banner.services_box_inner %}
				<div class="service-mini-card flex items-center justify-between p-[24px] rounded-[10px] text-white transition-all duration-300 ease-out transform hover:-translate-y-1 hover:shadow-lg">
					<p class="text-[22px] mb-0 font-bold text-white">
						{{ box.title }}
					</p>
					<a href="{{ box.link.url }}" class="flex items-center">
						{{ box.link.title }}
						<img decoding="async" src="/wp-content/uploads/2026/03/arrow-icon.png" class="h-[24px] w-[24px] ml-[10px]">
					</a>
				</div>
			{% endfor %}


			</div>

			{# Button wrap #}

		</div>
		{% if fields.banner.embed_form %}
			<div class="relative w-full placeholder lg:w-[435px]">
				<div class="p-[24px] md:p-[35px] rounded-lg bg-[#B8CEDB] text-[#333333]">
					<p class="font-header font-bold text-[30px] text-center mb-6">Get A Free Estimate</p>
					<div class="custom-form">
						{{fn('do_shortcode', '[brb_collection id=7854]')}}
						<div class="">{{fn('do_shortcode', fields.banner.embed_form)}}</div>
					</div>
				</div>
			</div>
		{% endif %}
	</article>
</section>
{% endif %}
{# –––––––––––––––– BANNER VERSION 1 END –––––––––––––––– #}

{% if fields.banner_version == 'ver2' %}
	<section class="firstclass-main-banner firstmate-bg home v2 h-full w-full flex flex-col items-center lg:px-10 pb-[32px] md:pb-[70px]" {{ block.className }} {# Background settings#} style="background-image: url('{{ fields.banner.background.url }}'); background-size: cover; background-repeat: no-repeat; background-position: center">
		<article class="firstclass-banner-content md:section-spacing container mx-auto w-full h-full flex flex-col lg:flex-row items-center relative z-5 md:mt-auto mb-[10px] md:mb-[90px] !pt-[40px] md:!pt-[80px] lg:!pt-[170px]">
			<div class="w-full lg:w-7/12">
				{% if fields.banner.title or fields.banner.description %}{% endif %}

				{# Main title #}
				{% if fields.banner.title %}
					<h1 class="leading-none text-center font-bold text-[32px] md:text-left md:text-[65px] text-white">
						{{fields.banner.title }}</h1>
				{% endif %}

				{# Subtitle #}
				{% if fields.banner.sub_title %}
					<p class="font-body text-[16px] mb-4 mt-4 text-white text-center lg:text-left">{{fields.banner.sub_title}}</p>
				{% endif %}
			</div>
			{% if fields.banner.embed_form %}
				<div class="relative w-full placeholder lg:w-5/12 lg:pl-12">
					<div class="p-[24px] md:p-[35px] rounded-lg bg-[#D9EAF4D1]/70">
						<p class="font-header font-bold text-[32px] text-center text-dark mb-6">Get A Free Estimate</p>
						{{fn('do_shortcode', '[brb_collection id=7854]')}}
						<div class="">{{fn('do_shortcode', fields.banner.embed_form)}}</div>
					</div>
				</div>
			{% endif %}
		</article>
		<div class="gap-[24px] md:section-spacing container mx-auto w-full h-full flex-col md:flex-row relative z-5 md:mt-auto flex items-center">
		{% for services in fields.banner.services_box %}
			<div class="w-full md:w-4/12 service-card p-[24px] rounded-[10px] text-white transition-all duration-300 ease-out transform hover:-translate-y-1 hover:shadow-lg">
				<p class="text-[22px] mb-[24px] font-bold md:min-h-[50px] lg:min-h-0 text-white">
					{{ services.title}}
				</p>
				<p class="text-[16px] mb-[24px] md:min-h-[150px]  xl:min-h-[80px] font-normal text-white">
					{{ services.description}}
				</p>
				<a href="{{ services.link.url }}" target="{{ services.link.target }}" class="flex items-center">
					Learn More
					<img decoding="async" src="wp-content/uploads/2026/03/arrow-icon.png" class="h-[24px] w-[24px] ml-[10px]">
				</a>
			</div>
		{% endfor %}	
		</div>
	</section>
{% endif %}
{# –––––––––––––––– BANNER VERSION 2 END –––––––––––––––– #}
