{#
  Title: Blog
  Description: Blog block
  postegory: Firebase-blocks
  Icon: welcome-write-blog
  Keywords: services
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}
<section class="bg-[#F8F8F8] px-[20px] py-[60px] md:py-[90px] lg:py-[120px] {{ block.className }}" style="background-image: url('/wp-content/uploads/2026/03/Group-4.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center">

	<div class="container mx-auto">

		<div
			class="bg-white flex flex-col lg:flex-row lg:items-stretch gap-[40px] lg:gap-[50px]
																		p-[24px] md:p-[40px] lg:px-[80px] lg:pt-[80px]
																		rounded-[8px] max-w-[1130px] mx-auto">

			<!-- Card -->
			<article class="flex flex-col w-full lg:w-1/2">

				<div class="rounded-[8px] h-[200px] md:h-[240px] lg:h-[270px] mb-[30px] bg-[#5f5e5e]"></div>

				<div class="flex flex-col flex-1">

					<h3 class="text-[18px] font-bold leading-[24px] mb-[25px]">
						Get Up To $50 Off Your Move!
					</h3>

					<p class="mb-[30px] text-[#414141] text-[16px]">
						As a token of our gratitude for those who have served or are currently serving in the US Military, we are offering a special discount!
					</p>

					<a class="font-bold text-blue mb-[30px] block">Share</a>

					<a href="{{ link }}" class="bg-blue mt-auto block w-full md:w-[220px] text-center text-white font-bold text-[16px] rounded-[5px] px-[24px] py-[18.5px]">
						Claim Now!
					</a>

				</div>

			</article>

			<!-- Card -->
			<article class="flex flex-col w-full lg:w-1/2">

				<div class="rounded-[8px] h-[200px] md:h-[240px] lg:h-[270px] mb-[30px] bg-[#5f5e5e]"></div>

				<div class="flex flex-col flex-1">

					<h3 class="text-[18px] font-bold leading-[24px] mb-[25px]">
						First Class Moving Referral Program
					</h3>

					<p class="mb-[30px] text-[#414141] text-[16px]">
						Refer a friend or family member and get $50 for each qualified sale.
					</p>

					<a class="font-bold text-blue mb-[30px] block">Share</a>

					<a href="{{ link }}" class="bg-blue mt-auto block w-full md:w-[220px] text-center text-white font-bold text-[16px] rounded-[5px] px-[24px] py-[18.5px]">
						Refer Someone Today
					</a>

				</div>

			</article>

		</div>

	</div>

</section>

<section class="bg-[#F8F8F8] px-[20px] py-[60px] md:py-[90px] lg:py-[120px] {{ block.className }}">
	{% for fpost in fposts %}
		{{fpost.post_title}}<br>
	{% endfor %}
	<div class="container flex flex-col mx-auto text-center">
		{% if fields.upper_title %}
			<h2 class="leading-[55px] text-[#333] font-bold uppercase md:mb-[20px] text-[30px] md:text-[40px]">{{ fields.upper_title}}</h2>
		{% endif %}
		{% if fields.title %}
			<h2 class="leading-[55px] text-[#4E4D4D] font-bold uppercase mb-[60px] text-[30px] md:text-[40px]">Moving Tips & Advice</h2>
			{# <h2 class="font-header text-dark text-[35px] leading-[35px] lg:text-xl mb-8">{{ fields.title}}</h2> #}
		{% endif %}
		{% if fields.subtitle %}
			<h4 class="mb-4 text-lg font-light">{{ fields.subtitle}}</h4>
		{% endif %}
	</div>

	<div class="container flex flex-row flex-wrap mx-auto">
		<div class="w-full">
			<div class="grid w-full grid-cols-1 gap-[36px] md:grid-cols-2 lg:grid-cols-3">
				<article class="shadow border rounded-[8px] border-[#4E4D4D29] p-[16px] min-h-[535px]">
					<div>
						<img src="/wp-content/uploads/2026/03/house-building-1-5.png" class="h-[210px] rounded-[6px] mb-[30px]">
						<div class="px-[20px] pt-0 pb-[20px]">
							<div class="flex items-center uppercase gap-[8px] mb-[25px]">
								<img src="{{ site.theme.link }}/images/icons/calendar.svg">
								<span class="text-[12px]">01 November 2025</span>
							</div>
							<h3 class="text-[18px] font-bold leading-[24px] mb-[25px]">Lorem ipsum dolor sit amet sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
							<p class="mb-[30px]">Lorem ipsum dolor sit amet adipiscing elit sed doe eiusmod tempor.</p>
							<a href="{{ link }}" class="bg-blue block w-[131px] text-white font-bold text-[16px] normal-case rounded-[5px] px-[24px] py-[18.5px]">Read More</a>
						</div>
					</div>
				</article>
				<article class="shadow border rounded-[8px] border-[#4E4D4D29] p-[16px] min-h-[535px]">
					<div>
						<img src="/wp-content/uploads/2026/03/house-building-1-5.png" class="h-[210px] rounded-[6px] mb-[30px]">
						<div class="px-[20px] pt-0 pb-[20px]">
							<div class="flex items-center uppercase gap-[8px] mb-[25px]">
								<img src="{{ site.theme.link }}/images/icons/calendar.svg">
								<span class="text-[12px]">01 November 2025</span>
							</div>
							<h3 class="text-[18px] font-bold leading-[24px] mb-[25px]">Lorem ipsum dolor sit amet sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
							<p class="mb-[30px]">Lorem ipsum dolor sit amet adipiscing elit sed doe eiusmod tempor.</p>
							<a href="{{ link }}" class="bg-blue block w-[131px] text-white font-bold text-[16px] normal-case rounded-[5px] px-[24px] py-[18.5px]">Read More</a>
						</div>
					</div>
				</article>
				<article class="shadow border rounded-[8px] border-[#4E4D4D29] p-[16px] min-h-[535px]">
					<div>
						<img src="/wp-content/uploads/2026/03/house-building-1-5.png" class="h-[210px] rounded-[6px] mb-[30px]">
						<div class="px-[20px] pt-0 pb-[20px]">
							<div class="flex items-center uppercase gap-[8px] mb-[25px]">
								<img src="{{ site.theme.link }}/images/icons/calendar.svg">
								<span class="text-[12px]">01 November 2025</span>
							</div>
							<h3 class="text-[18px] font-bold leading-[24px] mb-[25px]">Lorem ipsum dolor sit amet sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
							<p class="mb-[30px]">Lorem ipsum dolor sit amet adipiscing elit sed doe eiusmod tempor.</p>
							<a href="{{ link }}" class="bg-blue block w-[131px] text-white font-bold text-[16px] normal-case rounded-[5px] px-[24px] py-[18.5px]">Read More</a>
						</div>
					</div>
				</article>
				{# posts
																																																																																																																																																																																																																																																																																																																																																																																																																																																																													
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	{# {% set posts = {'category':category_id, 'numberposts':'-1', 'posts_per_page': '6'} %} #}
				{% for post in blogposts %}

					{% set category_id = fields.blog.term_id %}
					{% set link = fn('get_permalink', post.ID) %}
					{% set thumbnail_url = fn('get_the_post_thumbnail_url', post.ID ) %}
					{# <article class="shadow rounded-xl full flex flex-col text-center lg:text-left  bg-[#F3F9FF]">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	<div class="p-6">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		<img src="{{ thumbnail_url }}" class="w-full h-[250px] rounded-xl object-cover">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		<div class="flex flex-row items-center justify-center mt-4 mb-4 space-x-2 lg:justify-start">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																			<img src="{{ site.theme.link }}/images/icons/calendar.svg">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																			<span class="text-[12px] text-dark">{{ post.published_at|date("j F Y") }}</span>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		</div>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		<h3 class='mt-4 mb-4 font-tagline text-md lg:text-lg text-dark'>{{ post.post_title }}</h3>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		{% if post.post_excerpt %}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																			<p class="text-base font-body">{{ post.post_excerpt }}</p>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		{% endif %}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		<div class="flex justify-center lg:justify-start">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																			<a class='btn btn-primary font-tagline  !w-fit ' href="{{ link }}">READ MORE</a>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		</div>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	</div>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																</article> #}
				{% endfor %}

			</div>
			{# <div class="mt-8 tool-pagination">
																																																																																																																																																																																																																																																																																																																																																							
																																																																																																																																																																																																																																																																																																																																																											<div class="flex items-center gap-4 pages font-button">
																																																																																																																																																																																																																																																																																																																																																												{% if blogposts.pagination.prev %}
																																																																																																																																																																																																																																																																																																																																																													<a href="{{blogposts.pagination.prev.link}}" class="prev {{blogposts.pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
																																																																																																																																																																																																																																																																																																																																																												{% endif %}
																																																																																																																																																																																																																																																																																																																																																												{% for page in blogposts.pagination.pages %}
																																																																																																																																																																																																																																																																																																																																																													{% if page.link %}
																																																																																																																																																																																																																																																																																																																																																														<a href="{{page.link}}" class="{{page.class}} text-dark text-xl w-10 h-10 flex items-center justify-center border-4 border-secondary hover:text-white hover:bg-primary hover:border-primary">{{page.title}}</a>
																																																																																																																																																																																																																																																																																																																																																													{% else %}
																																																																																																																																																																																																																																																																																																																																																														<span class="{{page.class}} text-white bg-primary text-xl w-10 h-10 flex items-center justify-center border-4 border-primary">{{page.title}}</span>
																																																																																																																																																																																																																																																																																																																																																													{% endif %}
																																																																																																																																																																																																																																																																																																																																																												</li>
																																																																																																																																																																																																																																																																																																																																																											{% endfor %}
																																																																																																																																																																																																																																																																																																																																																											{% if blogposts.pagination.next %}
																																																																																																																																																																																																																																																																																																																																																												<a href="{{blogposts.pagination.next.link}}" class="next {{blogposts.pagination.next.link|length ? '' : 'invisible'}}">Next</a>
																																																																																																																																																																																																																																																																																																																																																											{% endif %}
																																																																																																																																																																																																																																																																																																																																																										</div> #}
			{# <div class="mt-8 tool-pagination">
																																																																																																																																																																																																																																																																																																																																																							
																																																																																																																																																																																																																																																																																																																																																											<div class="flex items-center gap-4 pages font-button">
																																																																																																																																																																																																																																																																																																																																																												{% if blogposts.pagination.prev %}
																																																																																																																																																																																																																																																																																																																																																													<a href="{{blogposts.pagination.prev.link}}" class="prev {{blogposts.pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
																																																																																																																																																																																																																																																																																																																																																												{% endif %}
																																																																																																																																																																																																																																																																																																																																																												{% for page in blogposts.pagination.pages %}
																																																																																																																																																																																																																																																																																																																																																													{% if page.link %}
																																																																																																																																																																																																																																																																																																																																																														<a href="{{page.link}}" class="{{page.class}} text-dark text-xl w-10 h-10 flex items-center justify-center border-4 border-secondary hover:text-white hover:bg-primary hover:border-primary">{{page.title}}</a>
																																																																																																																																																																																																																																																																																																																																																													{% else %}
																																																																																																																																																																																																																																																																																																																																																														<span class="{{page.class}} text-white bg-primary text-xl w-10 h-10 flex items-center justify-center border-4 border-primary">{{page.title}}</span>
																																																																																																																																																																																																																																																																																																																																																													{% endif %}
																																																																																																																																																																																																																																																																																																																																																												</li>
																																																																																																																																																																																																																																																																																																																																																											{% endfor %}
																																																																																																																																																																																																																																																																																																																																																											{% if blogposts.pagination.next %}
																																																																																																																																																																																																																																																																																																																																																												<a href="{{blogposts.pagination.next.link}}" class="next {{blogposts.pagination.next.link|length ? '' : 'invisible'}}">Next</a>
																																																																																																																																																																																																																																																																																																																																																											{% endif %}
																																																																																																																																																																																																																																																																																																																																																										</div> #}
		</div>
	</div>
</div></section><section class="bg-[#F8F8F8] px-[20px] py-[60px] md:py-[90px] lg:py-[120px] {{ block.className }}">

<div class="container mx-auto">

	<div class="relative rounded-[8px] text-white
									bg-cover bg-center bg-no-repeat
									px-[30px] py-[40px] md:px-[60px] md:py-[70px] lg:px-[80px]
									" style="background-image: url('/wp-content/uploads/2026/03/Frame-52629.jpg');">
		<div
			class="flex items-center h-[532px] overflow-hidden">
			<!-- Text Content -->
			<div class="max-w-[600px] z-10">

				<p class="font-bold text-[16px] md:text-[18px] mb-[10px]">
					Movers Committed To Quality
				</p>

				<h2 class="uppercase font-bold leading-[1.2] text-[28px] md:text-[36px] lg:text-[40px] mb-[30px]">
					You Get Where You Need To Go Without The Hassle.
				</h2>

				<a href="#" class="inline-block bg-[#F04A3C] text-white font-bold px-[22px] py-[12px] rounded-[4px] text-[14px] md:text-[16px]">
					Get A Free Quote
				</a>

			</div>

			<!-- Image -->
			<div class="absolute bottom-0 right-0 hidden lg:block">
				<img class="max-h-[420px]" src="/wp-content/uploads/2026/03/a3fb9cd8365b568c2c10fc32718fbd276dfe102c.png" alt="Mover">
			</div>

		</div>


	</div>

</div></section>
