{#
  Title: Blog
  Description: Blog block
  postegory: Firebase-blocks
  Icon: welcome-write-blog
  Keywords: services
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}
<section
	class="bg-[#F8F8F8] relative px-[20px] pt-[60px] md:pt-[90px] lg:pt-[120px] {{ block.className }}">
	<!-- Background Overlay -->
	<div class="absolute inset-0 bg-center bg-no-repeat bg-cover h-[470px]" style="background-image: url('/wp-content/uploads/2026/03/Frame-52629.jpg');"></div>


	<div class="container relative z-10 mx-auto bg-white pt-[80px] rounded-[8px]">
		<div
			class="topbar-logos px-[50px] relative block">

			<!-- Arrow container -->
			<div
				class="w-[80vw] mx-auto flex items-center justify-between absolute left-1/2 -translate-x-1/2 top-[50%] -translate-y-1/2 z-10 ">

				<!-- Navigation -->
				<div class="swiper-button-prev w-[60px] h-[60px] bg-[#333] rounded-full after:hidden flex items-center justify-center">
					<img src="/wp-content/uploads/2026/03/Vector-3.png" alt="">
				</div>

				<div class="swiper-button-next w-[60px] h-[60px] bg-[#EE4035] rounded-full after:hidden flex items-center justify-center">
					<img src="/wp-content/uploads/2026/03/Vector-4.png" alt="">
				</div>

			</div>

			<article class="container mx-auto text-center">

				<div class="overflow-hidden swiper blog-swiper01">

					<div
						class="items-stretch swiper-wrapper">

						<!-- Slide -->
						<article class="flex flex-col w-full px-[25px] text-left swiper-slide">

							<div class="h-[200px] md:h-[240px] shadow-lg lg:h-[270px] mb-[30px] rounded-[8px] bg-[#5f5e5e]"></div>

							<div class="flex flex-col flex-1 gap-[25px]">

								<h3 class="text-[22px] font-bold leading-[24px]">
									First Class Moving Referral Program
								</h3>

								<p class="text-[16px] text-[#414141]">
									Refer a friend or family member and get $50 for each qualified sale.
								</p>

								<a class="font-bold text-blue">
									Share
								</a>

								<a href="{{ link }}" class="mt-auto w-full md:w-[220px] bg-blue text-white text-[16px] font-bold text-center rounded-[5px] px-[24px] py-[18.5px]">
									Refer Someone Today
								</a>

							</div>

						</article>

						<!-- Slide -->
						<article class="flex flex-col w-full px-[25px] text-left swiper-slide">

							<div class="h-[200px] md:h-[240px] shadow-lg lg:h-[270px] mb-[30px] rounded-[8px] bg-[#5f5e5e]"></div>

							<div class="flex flex-col flex-1 gap-[25px]">

								<h3 class="text-[22px] font-bold leading-[24px]">
									First Class Moving Referral Program
								</h3>

								<p class="text-[16px] text-[#414141]">
									Refer a friend or family member and get $50 for each qualified sale.
								</p>

								<a class="font-bold text-blue">
									Share
								</a>

								<a href="{{ link }}" class="mt-auto w-full md:w-[220px] bg-blue text-white text-[16px] font-bold text-center rounded-[5px] px-[24px] py-[18.5px]">
									Refer Someone Today
								</a>
							</div>
						</article>
					</div>
				</div>
			</article>
		</div>
	</div>


</div></section><section class="bg-[#F8F8F8] px-[20px] py-[60px] md:py-[90px] lg:py-[120px] {{ block.className }}">
{% for fpost in fposts %}
	{{fpost.post_title}}<br>
{% endfor %}
<div class="container flex flex-col mx-auto text-center">
	{% if fields.upper_title %}
		<h2 class="leading-[55px] text-[#333] font-bold uppercase md:mb-[20px] text-[30px] md:text-[40px]">{{ fields.upper_title}}</h2>
	{% endif %}
	{% if fields.title %}
		<h2 class="leading-[55px] text-[#4E4D4D] font-bold uppercase mb-[60px] text-[30px] md:text-[40px]">Moving Tips & Advice</h2>
		{# <h2 class="font-header text-dark text-[35px] leading-[35px] lg:text-xl mb-8">{{ fields.title}}</h2> #}
	{% endif %}
	{% if fields.subtitle %}
		<h4 class="mb-4 text-lg font-light">{{ fields.subtitle}}</h4>
	{% endif %}
</div>


<div class="container flex flex-row flex-wrap mx-auto">

	<div class="w-full">
		<div class="grid w-full grid-cols-1 gap-[36px] md:grid-cols-2 lg:grid-cols-3">
			<article class="shadow border rounded-[8px] border-[#4E4D4D29] p-[16px] min-h-[535px]">
				<div>
					<img src="/wp-content/uploads/2026/03/house-building-1-5.png" class="h-[210px] rounded-[6px] mb-[30px]">
					<div class="px-[20px] pt-0 pb-[20px]">
						<div class="flex items-center uppercase gap-[8px] mb-[25px]">
							<img src="{{ site.theme.link }}/images/icons/calendar.svg">
							<span class="text-[12px]">01 November 2025</span>
						</div>
						<h3 class="text-[18px] font-bold leading-[24px] mb-[25px]">Lorem ipsum dolor sit amet sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
						<p class="mb-[30px]">Lorem ipsum dolor sit amet adipiscing elit sed doe eiusmod tempor.</p>
						<a href="{{ link }}" class="bg-blue block w-[131px] text-white font-bold text-[16px] normal-case rounded-[5px] px-[24px] py-[18.5px]">Read More</a>
					</div>
				</div>
			</article>
			<article class="shadow border rounded-[8px] border-[#4E4D4D29] p-[16px] min-h-[535px]">
				<div>
					<img src="/wp-content/uploads/2026/03/house-building-1-5.png" class="h-[210px] rounded-[6px] mb-[30px]">
					<div class="px-[20px] pt-0 pb-[20px]">
						<div class="flex items-center uppercase gap-[8px] mb-[25px]">
							<img src="{{ site.theme.link }}/images/icons/calendar.svg">
							<span class="text-[12px]">01 November 2025</span>
						</div>
						<h3 class="text-[18px] font-bold leading-[24px] mb-[25px]">Lorem ipsum dolor sit amet sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
						<p class="mb-[30px]">Lorem ipsum dolor sit amet adipiscing elit sed doe eiusmod tempor.</p>
						<a href="{{ link }}" class="bg-blue block w-[131px] text-white font-bold text-[16px] normal-case rounded-[5px] px-[24px] py-[18.5px]">Read More</a>
					</div>
				</div>
			</article>
			<article class="shadow border rounded-[8px] border-[#4E4D4D29] p-[16px] min-h-[535px]">
				<div>
					<img src="/wp-content/uploads/2026/03/house-building-1-5.png" class="h-[210px] rounded-[6px] mb-[30px]">
					<div class="px-[20px] pt-0 pb-[20px]">
						<div class="flex items-center uppercase gap-[8px] mb-[25px]">
							<img src="{{ site.theme.link }}/images/icons/calendar.svg">
							<span class="text-[12px]">01 November 2025</span>
						</div>
						<h3 class="text-[18px] font-bold leading-[24px] mb-[25px]">Lorem ipsum dolor sit amet sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
						<p class="mb-[30px]">Lorem ipsum dolor sit amet adipiscing elit sed doe eiusmod tempor.</p>
						<a href="{{ link }}" class="bg-blue block w-[131px] text-white font-bold text-[16px] normal-case rounded-[5px] px-[24px] py-[18.5px]">Read More</a>
					</div>
				</div>
			</article>

		</div>
		<div
			class="px-[50px] relative block">

			<!-- Arrow container -->
			<div
				class="w-[80vw] mx-auto flex items-center">

				<!-- Navigation -->
				<div class="swiper-button-prev w-[60px] h-[60px] bg-[#333] rounded-full flex items-center justify-center">
					<img src="/wp-content/uploads/2026/03/Vector-3.png" alt="">
				</div>

				<div class="swiper-button-next w-[60px] h-[60px] bg-[#EE4035] rounded-full flex items-center justify-center">
					<img src="/wp-content/uploads/2026/03/Vector-4.png" alt="">
				</div>

			</div>
		</div>


	</section>


	<section class="bg-[#F8F8F8] px-[20px] py-[60px] md:py-[90px] lg:py-[120px] {{ block.className }}">
		<div class="container mx-auto">

			<div
				class="relative">

				<!-- Background Overlay -->
				<div class="absolute inset-0 rounded-[8px] bg-center bg-no-repeat bg-cover" style="background-image: url('/wp-content/uploads/2026/03/Frame-52629.jpg');"></div>

				<!-- Content -->
				<div
					class="relative z-10 flex items-center">

					<!-- Text -->
					<div class="max-w-[600px] text-white py-[70px] pl-[30px] md:pl-[60px] lg:pl-[80px]">

						<h3 class="font-bold text-[16px] md:text-[18px] mb-[10px]">
							Movers Committed To Quality
						</h3>

						<h2 class="uppercase font-bold leading-[1.2] text-[28px] md:text-[36px] lg:text-[40px] mb-[30px]">
							You Get Where You Need To Go Without The Hassle.
						</h2>

						<a href="#" class="inline-block bg-[#F04A3C] text-white font-bold px-[22px] py-[12px] rounded-[4px] text-[14px] md:text-[16px]">
							Get A Free Quote
						</a>

					</div>

					<!-- Image -->
					<div class="absolute bottom-0 right-0 hidden lg:block">
						<img class="h-[532px]" src="/wp-content/uploads/2026/03/Rectangle-3471.png" alt="Mover">
					</div>
				</div>

			</div>
		</div>
	</section>
