{#
  Title: CTA
  Description: Call To Action block
  Category: firstclass-blocks
  Icon: table-row-before
  Keywords: offer
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}
	<section class="bg-[#F8F8F8] px-[20px] py-[60px] md:py-[90px] lg:py-[120px] {{ block.className }}">
		<div class="container mx-auto">
			<div
				class="relative">

				<!-- Background Overlay -->
				<div class="absolute inset-0 rounded-[8px] bg-center bg-no-repeat bg-cover" style="background-image: url('/wp-content/uploads/2026/03/Frame-52629.jpg');"></div>

				<!-- Content -->
				<div
					class="relative z-10 flex items-center">

					<!-- Text -->
					<div class="max-w-[600px] text-white py-[70px] pl-[30px] md:pl-[60px] lg:pl-[80px]">

						<h3 class="font-bold text-[16px] md:text-[18px] mb-[10px]">
							{{  fields.cta_title }}
						</h3>

						<h2 class="uppercase font-bold leading-[1.2] text-[28px] md:text-[36px] lg:text-[40px] mb-[30px]">
							{{  fields.description }}
						</h2>

						<a href="{{ fields.cta__button.url }}" class="inline-block bg-[#F04A3C] text-white font-bold px-[22px] py-[12px] rounded-[4px] text-[14px] md:text-[16px]">
							{{  fields.cta__button.title }}
						</a>

					</div>

					<!-- Image -->
					<div class="absolute bottom-0 right-0 hidden lg:block">
						<img class="h-[532px]" src="{{ fields.cta_image.url }}" alt="Mover">
					</div>
				</div>

			</div>
		</div>
	</section>
