{#
  Title: Faq
  Description: Faq section
  Category: mammothmoving-blocks
  Icon: editor-ul
  Keywords: about
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

{% if fields.faq_version == 'ver2' %}
	<section class="bg-[#F8F8F8] px-[20px] py-[60px] md:py-[90px] lg:py-[120px]" {# Background settings#} style="background-image: url('/wp-content/uploads/2026/03/Frame-52636.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center">
		<div class="container mx-auto">
			<div class="grid grid-cols-1 gap-[40px] md:gap-[100px] md:grid-cols-2">
				<div class="bg-gray-200">
					<h2 class="leading-[55px] text-[#333333] font-bold uppercase md:mb-[20px] text-[30px] md:text-[40px]">{{fields.title}}</h2>
					<p class="text-[#4E4D4D] text-[16px] font-regular md:mb-[60px] md:max-w-[430px]">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam.
					</p>

					{% if fields.button %}
						<button class="hidden md:block">
							<a href="{{ fields.button.url}}" class="mb-4 font-bold normal-case btn btn-primary">{{fields.button.title}}
							</a>
						</button>
					{% endif %}

				</div>

				<div class="flex flex-col gap-[16px]">
					<div class="border accordion-item border-[#E4E4E4] bg-[#F8F8F8] shadow-lg p-[8px] pl-[32px] rounded-[8px]">
						<div class="flex items-center justify-between cursor-pointer accordion-header2">
							<span class="accordion-title text-[22px] font-bold accordion-title text-[#333333]">
								One Question
							</span>

							<button class="btn-accordion border-1 border-[#E4E4E4] text-[35px] h-[60px] rounded-[6px] text-center border w-[60px] border-1  transition-transform accordion-icon">
								<img class="m-auto" src="/wp-content/uploads/2026/03/arrow-down.png"/>
							</button>
						</div>
						<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
							<p class="leading-relaxed text-gray-500">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
							</p>
						</div>
					</div>
					<div class="border accordion-item border-[#E4E4E4] bg-[#F8F8F8] shadow-lg p-[8px] pl-[32px] rounded-[8px]">
						<div class="flex items-center justify-between cursor-pointer accordion-header2">
							<span class="accordion-title text-[22px] font-bold accordion-title text-[#333333]">
								One Question
							</span>

							<button class="btn-accordion border-1 border-[#E4E4E4] text-[35px] h-[60px] rounded-[6px] text-center border w-[60px] border-1  transition-transform accordion-icon">
								<img class="m-auto" src="/wp-content/uploads/2026/03/arrow-down.png"/>
							</button>
						</div>
						<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
							<p class="leading-relaxed text-gray-500">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
							</p>
						</div>
					</div>
					<div class="border accordion-item border-[#E4E4E4] bg-[#F8F8F8] shadow-lg p-[8px] pl-[32px] rounded-[8px]">
						<div class="flex items-center justify-between cursor-pointer accordion-header2">
							<span class="accordion-title text-[22px] font-bold accordion-title text-[#333333]">
								One Question
							</span>

							<button class="btn-accordion border-1 border-[#E4E4E4] text-[35px] h-[60px] rounded-[6px] text-center border w-[60px] border-1  transition-transform accordion-icon">
								<img class="m-auto" src="/wp-content/uploads/2026/03/arrow-down.png"/>
							</button>
						</div>
						<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
							<p class="leading-relaxed text-gray-500">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
							</p>
						</div>
					</div>
					<div class="border accordion-item border-[#E4E4E4] bg-[#F8F8F8] shadow-lg p-[8px] pl-[32px] rounded-[8px]">
						<div class="flex items-center justify-between cursor-pointer accordion-header2">
							<span class="accordion-title text-[22px] font-bold accordion-title text-[#333333]">
								One Question
							</span>

							<button class="btn-accordion border-1 border-[#E4E4E4] text-[35px] h-[60px] rounded-[6px] text-center border w-[60px] border-1  transition-transform accordion-icon">
								<img class="m-auto" src="/wp-content/uploads/2026/03/arrow-down.png"/>
							</button>
						</div>
						<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
							<p class="leading-relaxed text-gray-500">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
							</p>
						</div>
					</div>
					<div class="border accordion-item border-[#E4E4E4] bg-[#F8F8F8] shadow-lg p-[8px] pl-[32px] rounded-[8px]">
						<div class="flex items-center justify-between cursor-pointer accordion-header2">
							<span class="accordion-title text-[22px] font-bold accordion-title text-[#333333]">
								One Question
							</span>

							<button class="btn-accordion border-1 border-[#E4E4E4] text-[35px] h-[60px] rounded-[6px] text-center border w-[60px] border-1  transition-transform accordion-icon">
								<img class="m-auto" src="/wp-content/uploads/2026/03/arrow-down.png"/>
							</button>
						</div>
						<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
							<p class="leading-relaxed text-gray-500">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
							</p>
						</div>
					</div>
					<div class="border accordion-item border-[#E4E4E4] bg-[#F8F8F8] shadow-lg p-[8px] pl-[32px] rounded-[8px]">
						<div class="flex items-center justify-between cursor-pointer accordion-header2">
							<span class="accordion-title text-[22px] font-bold accordion-title text-[#333333]">
								One Question
							</span>

							<button class="btn-accordion border-1 border-[#E4E4E4] text-[35px] h-[60px] rounded-[6px] text-center border w-[60px] border-1  transition-transform accordion-icon">
								<img class="m-auto" src="/wp-content/uploads/2026/03/arrow-down.png"/>
							</button>
						</div>
						<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
							<p class="leading-relaxed text-gray-500">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
							</p>
						</div>
					</div>

					{% if fields.button %}
						<button class="block md:hidden mt-[30px]">
							<a href="{{ fields.button.url}}" class="mb-4 btn btn-primary">{{fields.button.title}}
							</a>
						</button>
					{% endif %}
				</div>

			</div>
		</div>
	</section>
{% endif %}
