{#
  Title: Services Accordion
  Description: A grid section with icon boxes.
  Category: formatting
  Icon: grid-view
  Keywords: about
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}
<section class="bg-white px-[20px] py-[60px] md:py-[90px] lg:py-[120px]">
	<div class="container mx-auto text-center md:w-[796px] mb-[60px]">
		<h2 class="leading-[55px] text-[#333333] font-bold uppercase md:mb-[30px] text-[30px] md:text-[40px]">{{ fields.title }}</h2>
		<p class="text-[#402e2e] text-[16px] font-regular">
			{{ fields.upper_title }}
		</p>
	</div>
   {% for box in fields.box %}
	<div class="container mx-auto mb-[60px]">
		<div class="mb-[48px] justify-self-center gap-[24px] mx-auto text-center flex items-center">
			<img class="h-[46px] w-auto" src="{{ box.icon.url }}">
			<span class="accord-text text-[24px] md:text-[35px] font-bold ">{{ box.title }}</span>
		</div>
		<div class="accordion-wrapper flex flex-col lg:flex-row gap-[20px]">
			<div class="left flex flex-col gap-[10px] lg:w-1/2">
			   {% for leftitems in box.left_list %}
				<div class="accordion-item bg-[#F8F8F8] px-[24px] pt-[24px] rounded-[8px]">
					<div class="flex items-center justify-between cursor-pointer accordion-header pb-[24px]">
						<span class="text-[22px] font-bold accordion-title text-[#333333] group-[.active]:text-[#0068A7]">
							{{ leftitems.title }}	
						</span>
						<span class="text-[35px] transition-transform accordion-icon text-[#333333]">
							+
						</span>
					</div>
					<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
						<p class="pb-[24px] leading-relaxed text-gray-500">
							{{ leftitems.content }}
						</p>
					</div>
				</div>
				{% endfor %}
			</div>	
			 <div class="right flex flex-col gap-[10px] lg:w-1/2">
			 {% for rightitems in box.right_list %}
				<div class="accordion-item bg-[#F8F8F8] px-[24px] pt-[24px] rounded-[8px]">
					<div class="flex items-center justify-between cursor-pointer accordion-header pb-[24px]">
						<span class="text-[22px] font-bold accordion-title text-[#333333] group-[.active]:text-[#0068A7]">
							{{ rightitems.title }}	
						</span>
						<span class="text-[35px] transition-transform accordion-icon text-[#333333]">
							+
						</span>
					</div>
					<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
						<p class="pb-[24px] leading-relaxed text-gray-500">
							{{ rightitems.content }}
						</p>
					</div>
				</div>
				{% endfor %}
			</div>	
		</div>
	</div>
	{% endfor %}
	<button class="hidden mx-auto md:block">
		<a href="{{ fields.button_link.url}}" class="mb-4 font-bold normal-case btn btn-primary">{{ fields.button_link.title}}
		</a>
	</button>
</section>