{#
  Title: Icon List
  Description: Icon List Section.
  Category: formatting
  Icon: editor-ul
  Keywords: about
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

<section class="calsmoving-iconlist section-spacing bg-white {{ block.className }}">
	{% if fields.title %}
	<h2 class="font-header text-secondary text-5xl mb-16 text-center">{{ fields.title}}</h2>
	{% endif %}
	{% if fields.list %}
	<div class="container mx-auto flex mt-8">
		<div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
			{% for item in fields.list %}
			<article
				class="flex flex-row justify-center lg:justify-start items-center text-center lg:text-left bg-secondary text-white"
				data-aos="fade-up" data-aos-offset="-350" data-aos-delay="{{loop.index}}50"
				data-aos-duration="2*{{loop.index}}50" data-aos-once="true">
				{% if item.icon.url %}
				<div
					class="w-16 h-16">
					<img src="{{ item.icon.url }}" title="{{ item.icon.title}}" alt="{{ item.icon.alt}}"
						class="injectable w-16 h-16 p-4 fill-white mx-auto mb-12"></div>
				{% endif %}
				{% if item.button %}
				<a class="text-4xl font-header hover:text-primary"
					href="{{ item.button.link }}">{{ item.button.title }}</a>
				{% else %}
				{% if item.title %}
				<h3 class="text-2xl font-header">{{item.title}}
				</h3>
				{% endif %}
				{% endif %}
			</article>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	<a href="#" class="btn full-list-btn flex mx-auto mt-12 btn-ghost"><span
		class="hidden ml-2 md:inline-block">full list of Areas we serve</span>
		<img
		class="injectable inline-block w-10 h-6 object-contain fill-inherit"
		src="/wp-content/uploads/2023/10/arrow-right.svg" title=""
		alt=""></a>
</section>
