{#
  Title: Icon Box Grid
  Description: A grid section with icon boxes.
  Category: formatting
  Icon: grid-view
  Keywords: about
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

<section class="calsmoving-iconbox section-spacing bg-white {{ block.className }}">
	{% if fields.title %}
	<h2 class="font-header text-secondary text-5xl mb-16 text-center">{{ fields.title}}</h2>
	{% endif %}
	{% if fields.box %}
	<div class="container mx-auto mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
		{% for item in fields.box %}
		<article class=" bg-gray relative mx-auto p-10" data-aos="fade-up" data-aos-offset="150"
			data-aos-delay="{{loop.index}}50" data-aos-duration="2*{{loop.index}}50" data-aos-once="true">
			{% if item.icon.url %}
			<img src="{{ item.icon.url }}" title="{{ item.icon.title }}" alt="{{ item.icon.alt }}"
				class="injectable w-[70px] h-[70px] mx-auto mb-6">
			{% endif %}
			{% if item.title %}
			<h3 class="text-secondary text-4xl font-header pb-2 mb-4">{{item.title}}
			</h3>
			{% endif %}
			{% if item.description %}
			<div class="text-normal leading-relaxed">{{item.description}}</div>
			{% endif %}
			{% if item.button %}
			<a href="{{ item.button.url}}"
				class="btn-primary flex items-centerfont-medium uppercase text-primary fill-primary w-content tracking-wider text-center mb-4">{{item.button.title}}
			</a>
			{% endif %}
		</article>
		{% endfor %}
	</div>
	{% endif %}
</section>
