{#
  Title: Icon Box Aside
  Description: A grid section with icon boxes.
  Category: formatting
  Icon: align-left
  Keywords: about
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}
{% if fields.icon_version == 'ver2' %}
<section class="firstclass-iconboxaside v2 section-spacing bg-white {{ block.className }}">
	<div class="w-full px-8 lg:px-0 md:w-[90%] mx-auto flex flex-col lg:flex-row lg:space-x-24 items-center justify-between">

		<div class="w-full lg:w-5/12 order-2 lg:order-1 mt-8 lg:mt-0">
			<figure>
				<img src="{{ fields.map.url }}" class="img-responsive">
			</figure>
		</div>
		<div class="w-full lg:w-7/12 order-1 lg:order-2">
		<div class="flex flex-row mb-4 mt-4 justify-center lg:justify-start"><span class="mm-icon-wh"></span></div>
		{% if fields.title %}
			<h2 class="font-tagline mb-4 text-white text-[32px] leading-[35px] lg:text-xl text-center lg:text-left">{{ fields.title}}</h2>
		{% endif %}
		<div class="desc text-base text-white mb-8 text-center lg:text-left">
			{{ fields.content }}
		</div>

		{% if fields.box %}
			<div class="w-fit grid grid-cols-2  gap-y-2  mb-8">
				{% for item in fields.box %}
			    {% if item.service_area_link.url == '#' or  item.service_area_link.url is empty %}
					<div class="flex flex-row items-center gap-2">
						<img src="{{ site.theme.link }}/images/icons/marker.svg">
						<h3 class="font-tagline text-white text-base lg:text-md hover:text-primary">{{item.service_area_link.title}}</h3>
					</div>

				{% else %}
				<a href="{{item.service_area_link.url}}">
					<div class="flex flex-row items-center gap-2">
						<img src="{{ site.theme.link }}/images/icons/marker.svg">
						{% if item.service_area_link.url is not empty %}
						<h3 class="font-tagline text-white text-base lg:text-md hover:text-primary">{{item.service_area_link.title}}</h3>
						{% endif %}
					</div>
				</a>
				{% endif %}
				{% endfor %}
			</div>	
		{% endif %}

		<div class="desc text-base text-white mb-8 text-center lg:text-left">
			{{ fields.bottom_content }}
		</div>

		{% if fields.button %}
		<div class="flex justify-center lg:justify-start">
				<a href="{{fields.button.url}}" class="btn btn-primary mt-4 !w-fit hover:!border-white">{{fields.button.title}}</a>
		</div>			
		{% endif %}
		</div>
	</div>


</section>
{% endif %}