{#
  Title: Image Box Grid
  Description: A grid section with image boxes.
  Category: formatting
  Icon: format-image
  Keywords: about
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

<section class="mammothmoving-imagebox pt-[30px] pb-[30px] bg-secondary {{ block.className }}">
	{% if fields.box %}
	<div class="container mx-auto flex">
		<div class="grid w-full grid-cols-2 lg:grid-cols-4 gap-8 items-center">
			{% for item in fields.box %}
			<article class="text-center mx-auto" data-aos="fade-up" data-aos-offset="150"
				data-aos-delay="{{loop.index}}50" data-aos-duration="2*{{loop.index}}50" data-aos-once="true">
				{% if item.image.url %}
				<a href="{{ item.link.url}}" target="{{ item.link.target}}">
						<img src="{{ item.image.url }}" class="w-auto image-cover mx-auto"
							title="{{ item.image.title }}" alt="{{ item.image.alt }}">
				</a>
				{% endif %}
			</article>
			{% endfor %}
		</div>
	</div>
	{% endif %}
</section>
