{#
  Title: Image Icon List
  Description: Icon List with Image section
  Category: formatting
  Icon: table-col-before
  Keywords: Icon List
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

<section class="calsmoving-imageiconlist section-spacing bg-white {{ block.className }}">
	<div class="container mx-auto flex flex-row flex-wrap">
		<div class="w-full lg:w-7/12 lg:ml-auto mt-8 lg:pr-12">
			{% if fields.title %}
			<h2 class="font-header text-5xl mb-8 text-secondary">{{ fields.title}}</h2>
			{% endif %}
			<p >Every employee gets a background check as well as being trained by our local leads before his/her first job. Our commitment is to be an efficient and customer-focused local moving service near you! We are prepared and ready to take on any task during your move.</p>
				{% for item in fields.list %}
				<article class="flex flex-col lg:flex-row lg:text-left lg:items-center bg-white mx-auto space-x-8"
					data-aos="fade-left" data-aos-offset="-350" data-aos-delay="{{loop.index}}50"
					data-aos-duration="2*{{loop.index}}50" data-aos-once="true">
					{% if item.icon.url %}
					<figure class="lg:mb-0 lg:ml-0">
						<img src="{{ item.icon.url }}" title="{{ item.icon.title }}" alt="{{ item.icon.alt }}"
							class="injectable w-max h-auto fill-primary lg:ml-0">
					</figure>
					{% endif %}
					<div class="content">
						{% if item.title %}
						<h3 class="text-4xl font-header text-secondary">{{item.title}}
						</h3>
						{% endif %}
					</div>
				</article>
				{% endfor %}
		</div>
				
		<div class="content-box w-full lg:w-5/12">
			{% if fields.image %}
				<img class="w-[550px]" src="{{fields.image.url}}"
					alt="{{fields.image.alt}}" title="{{fields.image.title}}">
			{% endif %}
		</div>
	</div>
</section>

