{#
  Title: Simplecontent
  Description: Simple Content block
  Category: formatting
  Icon: editor-alignleft
  Keywords: about
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}
{% if fields.simple_version == 'ver1' %}
<section class="mammothmoving-simplecontent v1 section-spacing {{ block.className }}">
	<div class="container mx-auto text-left">

		{% if fields.title %}
			<h2 class="font-tagline text-[32px] leading-[35px] lg:text-xl mb-6">
				{{fields.title}}</h2>
		{% endif %}

		<div class="content-wrap lg:mb-4 flex flex-col mx-auto w-full text-md">
			{{fields.description}}
    </div>

      <div class="flex flex-col lg:flex-row space-y-2 lg:space-y-0 lg:space-x-4 mb-4">
      {% if fields.button %}
        <a href="{{ fields.button.url }}"  target="{{ fields.button.target }}"
          class="btn btn-primary !w-fit">
          <span class=''>{{fields.button.title }}</span>
        </a>
      {% endif %}
  
      </div>
	</div>
</section>
{% endif %}

{% if fields.simple_version == 'ver2' %}
<section class="mammothmoving-simplecontent v2 section-spacing {{ block.className }}">
	<div class="container mx-auto ">
		<div class="content-wrap flex flex-col text-center lg:px-8 border-[4px] border-t-primary border-l-0 border-r-0 border-b-primary py-4 lg:py-8">
			{{fields.description}}</div>
	</div>
</section>
{% endif %}