{#
  Title: Testimonials Slider
  Description: Testimonials block
  Category: firstclass-blocks
  Icon: list-view
  Keywords: testimonials
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

{% if fields.review_version == 'ver1' %}
<section class="px-[20px] py-[60px] md:py-[0px] lg:py-[0px] bg-[#F8F8F8] {{ block.className }}">
	<div class="container px-4 mx-auto">
		<div class="flex flex-col items-start justify-center w-full">
			{% if fields.title %}
			<h2 class="leading-[55px] text-dark font-bold uppercase md:mb-[60px] text-[30px] md:text-[40px]">{{ fields.title}}</h2>
			{% endif %}
			{% if fields.upper_title %}
				<p class="w-full mx-auto mb-4 text-center text-[#333333]">{{ fields.upper_title }}</p>
			{% endif %}		
			<div class="testimonials w-[100%]">
				{{fn('do_shortcode', fields.testimonials|striptags)}}
			</div>
		</div>
		{% if fields.button_link %}
		<div class="mt-32 text-center xl:mt-12">
			<a href="{{ fields.button_link.url }}" class="btn btn-secondary">
				<span>
					{{ fields.button_link.title }}
				</span>
			</a>
		</div>
		{% endif %}
	</div>

</section>
{% endif %}
{% if fields.review_version == 'ver2' %}
<section class="firstclass-testimonials v2 section-spacing  {{ block.className }}">
	{% if fields.reviews %}
		{% for item in fields.reviews %}
			<div class="z-10 w-full py-16 mx-auto" style="background-color: {{ item.background_color }}" >
				<div  class="container flex flex-col items-start mx-auto space-y-4 md:flex-row md:space-x-8">
					<img src="{{ item.icon.url }}" class="image-responsive w-[125px] h-[125px]">
					<div>
						{% if item.title %}
							<h3 class="mb-4 text-2xl font-header text-secondary lg:text-5xl">{{ item.title }}</h3>
						{% endif %}
						
						{% if item.description %}
						<div class="mb-4">{{ item.description }}</div>
						{% endif %}
						
						{% if item.button_link.url %}
						<a href="{{ item.button_link.url }}" target="{{ item.button_link.target}}"
							class="btn btn-primary flex items-center !text-base lg:!px-16 uppercase">{{item.button_link.title}}
						</a>
						{% endif %}
					</div>		
				</div>
				{% if item.form_code %}
				<div  class="container py-8 lg:py-12 mt-8 mx-auto border-t-[#E9E9E9] border-t">	
							{{fn('do_shortcode',item.form_code|striptags)}}
				</div>
				{% endif %}

			</div>
		{% endfor %}
	{% endif %}
</section>
{% endif %}
