{#
  Title: Text With Image
  Description: Text With Image on The Side
  Category: mammothmoving-blocks
  Icon: table-col-before
  Keywords: photo aside
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: fields
#}

{% for imagetext in fields.text_with_image %}
{% if imagetext.photo_align == 'right'  %}
{# <section class="mammothmoving-imagetext right section-spacing  bg-white {{ block.className }}"
>
	<article
		class="container mx-auto flex flex-col lg:flex-row justify-between  {% if imagetext.align_content %} items-center {% endif %}">
		{% if imagetext.title or imagetext.subtitle or imagetext.content %}
		<div
			class="w-full {% if imagetext.column_layout %}lg:w-6/12{% else %}lg:w-5/12{% endif %} {% if imagetext.align_content %}my-auto {% else %}md:mb-0 mb-8{% endif %}   ">
			<div class="flex flex-row justify-center lg:justify-start"><span class="mm-icon-red"></span></div>
			{% if imagetext.title %}
			<h2 class="font-tagline text-[32px] lg:text-xl mb-4 text-dark text-center lg:text-left">{{ imagetext.title}}</h2>
			{% endif %}
			{% if imagetext.subtitle %}
			<h3 class="mb-6 text-base font-semibold text-dark">{{ imagetext.subtitle }}</h3>
			{% endif %}
			{% if imagetext.content %}
			<div class="mb-8 text-center content lg:text-left">{{ imagetext.content }}</div>
			{% endif %}
			{% if imagetext.button %}
			<div class="flex justify-center lg:justify-start">
				<a href="{{ imagetext.button.url}}"
					class="btn btn-primary !w-fit"><span>{{imagetext.button.title}}</span>
				</a>
			</div>	
			{% endif %}
		</div>
		{% endif %}
		<div class="w-full mt-8 lg:mt-0 {% if imagetext.column_layout %}lg:w-5/12{% else %}lg:w-6/12{% endif %} image-wrap relative">
		{% if imagetext.photo %}
		<figure>
				<img class='w-full min-h-[250px] rounded-lg' src="{{imagetext.photo.url}}"
				title="{{imagetext.photo.title }}" alt="{{imagetext.photo.alt}}" data-aos="fade-right"
				data-aos-offset="150" data-aos-delay="250" data-aos-duration="250" data-aos-once="true">
		</figure>
		{% endif %}
		</div>
	</article>
</section> #}
{% endif %}
{% if imagetext.photo_align == 'left' %}
<section class="mammothmoving-imagetext left section-spacing bg-white {{ block.className }}">
	<article
		class="container mx-auto flex flex-row-reverse flex-wrap justify-between {% if imagetext.align_content %} items-center {% endif %}">
		{% if imagetext.title or imagetext.content %}
		<div
			class="w-full  {% if imagetext.column_layout %}lg:w-6/12{% else %}lg:w-5/12{% endif %} {% if imagetext.align_content %}my-auto {% else %}mb-8 md:mb-0{% endif %}">
			<div class="flex flex-row justify-center lg:justify-start"><span class="mm-icon-red"></span></div>
			{% if imagetext.title %}
			<h2 class="font-tagline  text-[32px] lg:text-xl mb-4 text-dark text-center lg:text-left">{{ imagetext.title}}</h2>
			{% endif %}
			{% if imagetext.subtitle %}
			<h3 class="mb-6 text-base font-semibold text-dark">
				{{ imagetext.subtitle }}</h3>
			{% endif %}
			<div class="mb-8 text-center content lg:text-left">{{ imagetext.content }}</div>
			{% if imagetext.button %}
			<div class="flex justify-center lg:justify-start">
				<a href="{{ imagetext.button.url}}"
					class="btn btn-primary !w-fit"><span>{{imagetext.button.title}}</span>
				</a>
			</div>	
			{% endif %}
		</div>
		{% endif %}
		<div class="w-full mt-8 lg:mt-0 {% if imagetext.column_layout %}lg:w-5/12{% else %}lg:w-6/12{% endif %}">
		{% if imagetext.photo %}
		<figure>
			<img class='w-full min-h-[250px] rounded-lg' src="{{imagetext.photo.url}}"
				title="{{imagetext.photo.title }}" alt="{{imagetext.photo.alt}}" data-aos="fade-right"
				data-aos-offset="150" data-aos-delay="250" data-aos-duration="250" data-aos-once="true">
		</figure>
		{% endif %}
		</div>
	</article>
</section>
{% endif %}
{% endfor %}
