{#
  Title: Two Column Text
  Description: A text on two columns layouts
  Category: formatting
  Icon: columns
  Keywords: about
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

{% if fields.colum_version == 'ver1' %}
	{# <section class="firstclass-imagetext right section-spacing  bg-[#F8F8F8] ">
		<article class="container flex flex-col items-center justify-between mx-auto lg:flex-row gap-[40px]">
			<div class="relative w-full mt-8 lg:mt-0 lg:w-5/12 image-wrap lg:order-2">
				<figure>
					<img class="w-full h-auto mb-[40px] lg:h-[694px] object-cover rounded-lg aos-init aos-animate" src="/wp-content/uploads/2026/03/grp.png">
				</figure>
			</div>
			<div class="w-full my-auto lg:w-6/12 lg:order-1">
				<h2 class="leading-[55px] text-[#333333] text-center md:text-left font-bold uppercase md:mb-[40px] text-[30px] md:text-[40px]">About First Class Moving Systems</h2>

				<p class="text-[#402e2e] text-[16px] font-regular mb-[30px]">
					At First Class Moving Systems, our name says it all. We treat our clients as we would want to be treated, which means that we always go the extra mile to deliver quality service at a fair, affordable price. As a full-service moving and storage company, we offer moving solutions that cover the full scope of relocation needs, along with benefits that include:
				</p>

				<p class="text-[#4E4D4D] text-[16px] font-regular mb-[30px]">
					Whether you are moving across town, across the country, or even to another continent, you can count on our professional drivers, movers, and packers to take pride in their work. That’s the promise of First Class, and we are here as your partner in creating a stress-free relocation experience.
				</p>

				<!-- Features -->
				<div class="flex gap-[32px] mt-4 mb-[40px]">
					<div>
						<span class="flex items-center gap-2 font-bold">
							<img src="/wp-content/uploads/2026/03/icon-check-red.png" alt="">
							Highest-Quality Customer Service
						</span>
						<span class="flex items-center gap-2 font-bold">
							<img src="/wp-content/uploads/2026/03/icon-check-red.png" alt="">
							Comprehensive Packing Solutions
						</span>
						<span class="flex items-center gap-2 font-bold">
							<img src="/wp-content/uploads/2026/03/icon-check-red.png" alt="">
							Small Move Specialization
						</span>
					</div>

					<div>
						<span class="flex items-center gap-2 font-bold">
							<img src="/wp-content/uploads/2026/03/icon-check-red.png" alt="">
							Decades of Expertise
						</span>
						<span class="flex items-center gap-2 font-bold">
							<img src="/wp-content/uploads/2026/03/icon-check-red.png" alt="">
							Targeted Service
						</span>
						<span class="flex items-center gap-2 font-bold">
							<img src="/wp-content/uploads/2026/03/icon-check-red.png" alt="">
							Competitive Prices
						</span>
					</div>
				</div>
				<button class="hidden md:block">
					<a href="{{ fields.button.url}}" class="mb-4 font-bold normal-case btn btn-primary">Get A Free Quote
					</a>
				</button>
			</div>
		</article>
	</section> #}
{% endif %}
{# 
{% if fields.colum_version == 'ver2' %}
	<section class="firstclass-two-cloumn v2 left section-spacing bg-white {{ block.className }}">
		<article class="container flex flex-col-reverse mx-auto md:flex-row md:space-y-0 md:space-x-8">

			<div class="flex flex-col items-center w-full mt-12 space-y-6 lg:w-5/12 lg:mt-0">
				<figure data-aos="fade-in" data-aos-offset="-250" data-aos-delay="200">
					<img src="{{ fields.image_1.url }}" class="object-cover w-full rounded-md">
				</figure>

				<figure data-aos="fade-in" data-aos-offset="-250" data-aos-delay="500">
					<img src="{{ fields.image_2.url }}" class="object-cover w-full rounded-md">
				</figure>
			</div>

			<div class="order-1 w-full lg:w-7/12 lg:pl-12">
				<div class="flex flex-row justify-center md:justify-start">
					<span class="fc-icon-red"></span>
				</div>

				<h2 class="font-tagline mb-4 text-[32px] leading-[35px] lg:text-xl text-dark text-center md:text-left">
					{{ fields.column_1_text.title }}
				</h2>

				<h3 class="mb-6 font-semibold font-xl">
					{{ fields.subtitle }}
				</h3>

				<div class="mb-8 text-base leading-relaxed text-center font-body content text-dark md:text-left">
					{{ fields.column_1_text.description }}
				</div>

				{% if fields.column_1_text.button %}
					<div class="flex justify-center md:justify-start">
						<a href="{{ fields.column_1_text.button.url }}" target="{{ fields.column_1_text.button.target }}" class="btn btn-primary !w-fit">
							<span>{{ fields.column_1_text.button.title }}</span>
						</a>
					</div>
				{% endif %}
			</div>

		</article>
	</section>
{% endif %}

{% if fields.colum_version == 'ver3' %}
	<section class="firstclass-two-cloumn v3 left section-spacing bg-[#F4F4F4] {{ block.className }}">
		<article class="container mx-auto">

			<div class="w-full">
				<div class="block text-center lg:hidden lg:text-left">
					<span class="fc-icon-red"></span>
				</div>

				<h2 class="font-tagline text-[32px] leading-[35px] lg:text-xl mb-8 text-dark text-center lg:text-left lg:mb-4">
					{{ fields.column_1_text.title }}
				</h2>

				<h3 class="mb-6 font-semibold font-xl">
					{{ fields.subtitle }}
				</h3>

				<div class="font-normal leading-relaxed content">
					<img src="{{ fields.image_1.url }}" class="object-cover w-full float-right ml-6 mb-4 max-w-sm lg:max-h-[250px] rounded-md"/>
					{{ fields.column_1_text.description }}
				</div>

				{% if fields.column_1_text.button %}
					<div class="flex justify-center md:justify-start">
						<a href="{{ fields.column_1_text.button.url }}" target="{{ fields.column_1_text.button.target }}" class="btn btn-primary mb-4 flex !w-fit">
							<span>{{ fields.column_1_text.button.title }}</span>
						</a>
					</div>
				{% endif %}
			</div>

		</article>
	</section>
{% endif %}
#}