{#
  Title: Video
  Description: Video Section
  Category: formatting
  Icon: video-alt
  Keywords: sidebar
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

<section class="ellismovers-video section-spacing">
	<article class="container flex flex-col items-center mx-auto text-center ">
		{% if fields.description and fields.title %}
			<div class="container flex flex-col pb-1 mx-auto mb-8 text-center">
				<h2 class="mb-4 text-3xl text-white capitalize md:text-6xl font-tagline heading-g">{{ fields.title}}</h2>
				<div class="text-lg text-white font-body">{{ fields.description }}</div>
			</div>
		{% else %}
			{% if fields.title %}
				<h2 class="mb-8 text-4xl font-header">{{ fields.title}}</h2>
			{% endif %}
			{% if fields.description %}
				<div class="text-lg text-white font-body">{{ fields.description }}</div>
			{% endif %}
		{% endif %}
		<div class="w-full video-wrapper max-h-[658px] rounded-2xl" data-aos="fade-left" data-aos-offset="-250" data-aos-delay="250" data-aos-duration="550" data-aos-once="true">
			<iframe width="100%" height="660" src="https://www.youtube.com/embed/{{fields.video_url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</div>
		<a href="{{fields.button.url}}" class="mx-auto mt-10 font-normal text-center btn btn-ghost">
			<span class="flex flex-row items-center">
				{{ fields.button.title }}
			</span>
		</a>
	</article>
</section>
